code-block {
	display: block;
	background-color: #f5f5f5;
	border-left: 5px solid #007BFF;
	padding: 10px;
	margin: 20px 0;
	font-family: 'Courier New', Courier, monospace;
	overflow-x: auto;
}

bp-keyword {
	color: #A020F0;
	font-weight: bold;
}

bp-string {
	color: #228B22;
}

bp-number,
bp-boolean {
	color: #BA8E23;
}

bp-boolean {
	font-weight: bold;
}

bp-class {
	color: #026440;
	font-weight: bold;
}

bp-attribute,
bp-character {
	color: #00008B;
}

bp-static {
	color: #8B0000;
}

bp-comment {
	color: #AAA;
}

bp-error {
	color: #F00;
}

inline-code {
	background-color: #f5f5f5;
	font-family: 'Courier New', Courier, monospace;
}
