body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('../img/blueprint_pattern.jpg');
	background-size: cover;
	color: #333;
}

.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	width: 250px;
	background-color: rgba(255, 255, 255, 0);
	padding: 20px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

	border-right: 2px solid black;
	color: #fff;
}

.sidebar h1 {
	font-size: 3em;
	margin-bottom: 20px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar ul li {
	margin: 10px 0;
}

.sidebar ul li a {
	color: #fff;
	text-decoration: none;
}

.sidebar div {
	font-size: 0.8em;
}

.sidebar a {
	color: #aaf;
}

.sidebar div a {
	color: #aaf;
}

.content {
	flex-grow: 1;
	padding: 20px;
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 0.9);
}

#doc-list>li {
	width: 100%;

}

#doc-list>li:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.credits {
	font-size: 0.8em;
	margin-top: 20px;

	position: absolute;
	bottom: 0;
}

.nested {
	display: none;
	margin-left: 20px;
}

a.collapsible {
	display: flex;
	cursor: pointer;
	justify-content: space-between;

}

span.plus {
	right: 0px;

	height: 0.5em;
	font-size: 2em;

	translate: 0 -0.25em;
}

/* Rotate the triangle when the nested list is visible */
.collapsible.active .triangle {
	transform: rotate(90deg);
	/* Rotate right triangle to point down */
}
